body {
    color: var(--main-color);
    background-color: var(--main-color);
  }

  .red {
    background-color: red;
  }

  .blue {
    background-color: blue;
  }

  .grey {
    background-color: grey;
  }